<%= form_for :search, url: search_admin_books_path, html: {method: :get} do |f| %>
  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <%= f.label t("admin.books.book_name"), class: "control-label mb-10" %>
        <%= f.text_field :name, class: "form-control" %>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <%= f.label t("admin.books.category"), class: "control-label mb-10" %>
        <%= f.text_field :category_name, class: "form-control" %>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <%= f.label t("admin.books.author"), class: "control-label mb-10" %>
        <%= f.text_field :author_name, class: "form-control" %>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <%= f.label t("admin.books.publisher"), class: "control-label mb-10" %>
        <%= f.text_field :publisher_name, class: "form-control" %>
      </div>
    </div>
    <div class="col-md-3 mt-30">
      <div class="form-actions">
        <%= f.submit t("admin.books.search"), class: "btn btn-success btn-icon left-icon mr-10 pull-left" %>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
<% end %>
