<div class="fixed-sidebar-left">
  <ul class="nav navbar-nav side-nav nicescroll-bar">
    <li class="navigation-header">
      <span><%= t "admin.application.main" %></span>
      <i class="zmdi zmdi-more"></i>
    </li>
    <li>
      <a href="<%= admin_categories_path %>">
        <div class="pull-left">
          <i class="zmdi zmdi-puzzle-piece mr-20"></i>
          <span class="right-nav-text"><%= t "admin.application.categories" %></span>
        </div>
        <div class="clearfix"></div>
      </a>
    </li>
    <li>
      <a href="<%= admin_publishers_path %>">
        <div class="pull-left">
          <i class="zmdi zmdi-home mr-20"></i>
          <span class="right-nav-text"><%= t "admin.application.publishers" %></span>
        </div>
        <div class="clearfix"></div>
      </a>
    </li>
    <li>
      <a href="<%= admin_authors_path %>">
        <div class="pull-left">
          <i class="zmdi zmdi-walk mr-20"></i>
          <span class="right-nav-text"><%= t "admin.application.authors" %></span>
        </div>
        <div class="clearfix"></div>
      </a>
    </li>
    <li>
      <a href="<%= admin_books_path %>">
        <div class="pull-left">
          <i class="zmdi zmdi-book mr-20"></i>
          <span class="right-nav-text"><%= t "admin.application.books" %></span>
        </div>
        <div class="clearfix"></div>
      </a>
    </li>
    <li>
      <a href="<%= admin_users_path %>">
        <div class="pull-left">
          <i class="zmdi zmdi-accounts mr-20"></i>
          <span class="right-nav-text"><%= t "admin.application.users" %></span>
        </div>
        <div class="clearfix"></div>
      </a>
    </li>
    <li>
      <a href="<%= admin_borrows_path %>">
        <div class="pull-left">
          <i class="zmdi zmdi-account-box-mail mr-20"></i>
          <span class="right-nav-text"><%= t "admin.application.borrows" %></span>
        </div>
        <div class="clearfix"></div>
      </a>
    </li>
    <li>
      <a href="<%= admin_comments_path %>">
        <div class="pull-left">
          <i class="zmdi zmdi-comments mr-20"></i>
          <span class="right-nav-text"><%= t "admin.application.comments" %></span>
        </div>
        <div class="clearfix"></div>
      </a>
    </li>
  </ul>
</div>
