<%= form_for :search, url: search_index_path, html: {method: :get} do |f| %>
  <div class="col-md-3 col-sm-4">
    <%= f.label t("home.book_name") %>
    <%= f.text_field :name%>
  </div>
  <div class="col-md-2 col-sm-4">
    <%= f.label t("home.categories"), class: "control-label mb-10" %>
    <%= f.text_field :category_name %>
  </div>
  <div class="col-md-2 col-sm-4">
    <%= f.label t("home.authors"), class: "control-label mb-10" %>
    <%= f.text_field :author_name %>
  </div>
  <div class="col-md-2 col-sm-4">
    <%= f.label t("home.publishers"), class: "control-label mb-10" %>
    <%= f.text_field :publisher_name %>
  </div>
  <div class="col-md-3 col-sm-12">
    <%= f.label t("home.search") %>
    <input type="submit"></input>
  </div>
<% end %>
