<% provide :title, t("admin.borrows.index.search_result") %>
<div class="container-fluid">
  <div class="row heading-bg">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
      <h5 class="txt-dark"><%= t ".borrows" %></h5>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default card-view">
        <div class="panel-wrapper collapse in">
          <div class="panel-body">
            <%= render "shared/messages" %>
            <div class="table-wrap mt-40">
              <div class="table-responsive">
                <table class="table table-hover table-bordered mb-0">
                  <thead>
                    <tr>
                      <th><%= t "admin.borrows.index.email" %></th>
                      <th><%= t "admin.borrows.index.book_name" %></th>
                      <th><%= t "admin.borrows.index.borrowed_date" %></th>
                      <th><%= t "admin.borrows.index.returned_date" %></th>
                      <th><%= t "admin.borrows.index.real_borrowed_date" %></th>
                      <th><%= t "admin.borrows.index.status" %></th>
                      <th class="text-nowrap"><%= t "action" %></th>
                    </tr>
                  </thead>
                  <tbody>
                    <% if @borrows.size != 0 %>
                      <%= render @borrows %>
                    <% else %>
                      <p class="vali-error" ><%= t "search.index.not_found_result" %></p>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
            <%= will_paginate %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
